:root {
  --base-color: #1e1e1e;
  --border-color: #2c2c2c;
  --border-color-pronounce: #5e5e5e;
  --link-color: #646489;
  --text-color: #d0d0d0;
}

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: var(--text-color);
}

body {
  background: var(--base-color);
}

/* main content */

.main-page {
  width: 100%;
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 6rem;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}
.page-content {
  border: 3px solid var(--border-color);
  border-radius: 15px;
  width: 50%;
  color: var(--text-color);
  font-size: 2rem;
  padding: 50px;
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%; 
}
.label-wrapper {
  margin-top: 15px;
  margin-bottom: 7.5px;
}
.type-form-box {
  background: var(--base-color);
  outline: none;
  border-radius: 15px;
  border: 2px solid var(--border-color-pronounce);
  padding: 10px;
  width: calc(100%-20px);
  height: 50px;
  font-size: 1.75rem;
}

/* submit + go back */

.form-submit-button {
  background: var(--base-color);
  font-size: 2rem;
  border: 2px solid var(--link-color);
  margin-top: 50px;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  width: 220px;
  justify-content: center;
  align-items: center;
  transition: 500ms ease;
  color: var(--link-color);
  text-decoration: none;
}
.form-submit-button:hover {
  background: var(--link-color);
  cursor: pointer;
  color: var(--base-color);
}
.back-link {
  font-size: 1.25rem;  
}
.back-link a {
  color: var(--link-color);
  text-decoration: none;
}
